@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.inter-font-style{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
body{
    /* background-color: rgba(0, 0, 0, 0.95); */
    background-color: rgb(32, 30, 30);
}
header{
    max-width: 80%;
    margin: 0 auto;
    display: none;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.nav-container h2{
    font-size: 44px;
    font-weight: 700;
    color: rgb(230, 83, 60);
}
.menus{
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: white;
    /* font-weight: 500; */
}
.btn-primary:hover{
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 12px;
}


.banner-container{
    display: flex;
    gap: 80px;
    align-items: center;
}
.banner-content h1{
    font-size: 70px;
    font-weight: 900;
    color: white;
    
}
.banner-content{
    margin-top: 50px;
    color: white;
}
.banner-img img{
    width: 100%;
}
.btn-secondary{
    padding: 10px 16px;
    border-radius: 20px;
    border: none;
    font-weight: 500;
    font-size: 15px;
    background-color: rgb(230, 83, 60);
    color: white;
}
.second{
    background-color: transparent;
    border: 1px solid white;
}
.banner-buttons{
    margin: 20px 0;
    display: flex;
    gap: 20px;
}
.tutorial{
    width: 160px;
    background-color: green;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    gap: 5px;
    /* justify-content: space-evenly; */
    align-items: center;
    margin-left: -60px;
    margin-top: -170px;
}
.circle{
    width: 40px;
    height: 40px;
    background-color: tomato;
    border-radius: 50%;
}

/* main section styles here...  */

.habit-section{
    max-width: 80%;
    margin: 80px auto;
}
.habit{
    text-align: center;
    color: antiquewhite;
}
.habit h2{
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.habit p{
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0;
    color: rgba(255, 255, 255, 0.5);
}
.habit-title{
    font-size: 38px;
}
.habit-content{
    text-align: center;
}
.habit-content img{
    border: 1px solid whitesmoke;
    border-radius: 50%;
}
.habit-content h4{
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    color: rgb(255, 255, 255);
}
.habit-content p{
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    color: rgba(255, 255, 255, 0.5);
}

.habit-container{
    display: flex;
    gap: 10px;
    color: white;
    margin-top: 50px;
}

/* responsive section starts here...  */
@media screen and (max-width: 576px) {
    .habit-container{
        flex-direction: column;
    }
}