@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.inter-font-style{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
.allura-regular {
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
}
  
body{
    /* background-color: rgba(0, 0, 0, 0.95); */
    background-color: rgb(12, 12, 12);
}
header{
    
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0), rgba(40, 36, 36, 0.269));
    /* display: none; */
}
.nav-container{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.nav-container h2{
    font-size: 44px;
    font-weight: 700;
    font-style: italic;
    color: rgb(230, 83, 60);
}
.menus{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    color: rgb(235, 228, 228);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 4px 10px;
    border-radius: 20px;
    font-weight: 600;
}
.btn-primary{
    background-color: rgb(230, 83, 60);
    padding: 7px 12px;
    border-radius: 20px;
}
.hamburger{
    color: rgb(255, 255, 255);
    display: none;
}
/* .btn-primary:hover{
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 12px;
} */


.banner-container{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 80px;
    align-items: center;
}
.banner-content h1{
    font-size: 70px;
    font-weight: 900;
    color: white;
}
.banner-content p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
}
.banner-content{
    margin-top: 50px;
    color: white;
}
.banner-img img{
    width: 100%;
}
.btn-secondary{
    padding: 10px 16px;
    border-radius: 20px;
    border: none;
    font-weight: 600;
    font-size: 15px;
    background-color: rgb(230, 83, 60);
    color: white;
}
.second{
    background-color: transparent;
    border: 1px solid white;
}
.banner-buttons{
    margin: 20px 0;
    display: flex;
    gap: 20px;
}
.tutorial{
    /* border: 2px solid yellow; */
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
    padding: 16px;
    width: max-content;
    /* background-color: rgba(156, 151, 151, 0.546); */
    background:  rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    color: whitesmoke;
    /* margin-left: -40px;
    margin-top: -80px; */
    position: absolute;
    top: 350px;
    right: 260px;
}
.play-font{
    font-size: 36px;
    color: rgb(230, 83, 60);
    /* background-color: aliceblue; */
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
}
.tutorial h4{
    font-size: 32px;
}
.two{
    background:  rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 150px;
    right: 50px;
}
.circle{
    width: 40px;
    height: 40px;
    background-color: tomato;
    border-radius: 50%;
}

/* main section styles here...  */

.habit-section{
    max-width: 80%;
    margin: 80px auto;
}
.habit{
    text-align: center;
    color: antiquewhite;
}
.habit h2{
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.habit p{
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0;
    color: rgba(255, 255, 255, 0.5);
}
.habit-title{
    font-size: 38px;
}
.habit-content{
    text-align: center;
}
.habit-content img{
    border: 1px solid whitesmoke;
    width: 100%;
    border: none;
    border-radius: 50%;
}
.habit-content h4{
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    color: rgb(255, 255, 255);
}
.habit-content p{
    font-size: 12px;
    font-weight: 400;
    margin-top: 8px;
    color: rgba(255, 255, 255, 0.5);
}

.habit-container{
    display: flex;
    gap: 30px;
    color: white;
    margin-top: 50px;
}

.mile-section{
    max-width: 80%;
    margin: 50px auto;
}
.mile-container{
    /* border: 1PX solid white; */
    border-radius: 10px;
    background-color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    gap: 150px;
    /* justify-content: space-between; */
    padding: 50px;
}
.mile-content h2{
    font-weight: 900;
    color: rgb(255, 255, 255);
    font-size: 35px;
}
.mile-content p{
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.5);
}
.btn-join{
    border: none;
    border-radius: 60px;
    padding: 13px 40px;
    background-color: rgb(230, 83, 60);
    color: white;
}
.mile-img img{
    width: 100%;
    border-radius: 8px;
}

.bmi-section{
    background-color: rgb(34, 34, 34);
    padding: 2px 0;
    margin: 40px 0;
    /* display: none; */
}
.bmi-title{
    color: white;
    text-align: center;
}
.bmi-container{
    color: white;
    max-width: 80%;
    margin: 70px auto;
    display: flex;
    gap: 150px;
}
.bmi-table, tr, td{
    border: 1px solid rgba(245, 245, 245, 0.285);
    border-collapse: collapse;
    padding: 4px 10px;
    /* max-width: 100%; */
    margin-top: 30px;
}
th{
    border: 1px solid rgba(245, 245, 245, 0.285);
    border-collapse: collapse;
    padding: 10px 0;
}
.chart-content h2{
    font-size: 26px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.calculate-content h2{
    font-size: 26px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}
.calculate-content p{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    margin-bottom: 24px;
}

/* .input-form{
    border: 2px solid red;
} */
.input-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.input-form input , select{
    /* border: 2px solid green; */
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.6);
    padding: 8px 0;
    padding-left: 10px;
    width: 46%;
}
select{
    width: 48%;
}
.last-select{
    width: 100%;
    margin-bottom: 14px;
}

.team-container{
    max-width: 80%;
    margin: 60px auto;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
}
.team-card img{
    width: 100%;
    height: 260px;
    border-radius: 10px;
}
.team-card{
    position: relative;
    /* height: 280px; */
}
.card-title{
    color: whitesmoke;
    position: absolute;
    left: 10%;
    bottom: 40px;
}

footer{
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-section{
    max-width: 82%;
    margin: 0px auto;
    padding: 40px 0;
}
.footer-container{
    color: whitesmoke;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    /* gap: 30px; */
}
.footer-start{
    max-width: 70%;
}
.footer-title{
    font-size: 55px;
    font-style: italic;
    color: rgb(230, 83, 60);
    margin-top: 18px;
}
.footer-content p{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 16px;
}
.footer-second{
    font-size: 32px;
    margin-bottom: 18px;
}
.footer-content > ul > li{
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 17px;
}
.hr-line{
    color: rgba(255, 255, 255, 0.5);
}
.copyright{
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    margin-top: 26px;
    text-align: center;
}

.extra-section{
    max-width: 82%;
    margin: 0px auto;
    background-color: rgba(19, 20, 21, 0.642);
    padding: 26px 0;
    border-radius: 14px;
    color: rgba(230, 83, 60, 0.847);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* display: flex;
    justify-content: space-around; */
    /* align-items: center; */
    text-align: center;
    margin-bottom: 50px;
}
.extra p{
    color: white;
    font-weight: 600;
}
.extra h2{
    font-size: 50px;
}
.extra-heading{
    color: white;
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

/* responsive section starts here...  */
@media screen and (max-width: 576px) {
    /* .nav-container{
        flex-direction: column;
    } */
    .menus{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .banner-container{
        flex-direction: column;
        gap: 20px;
    }
    .banner-content h1{
        font-size: 46px;
    }
    .tutorial{
        position: absolute;
        top: 700px;
        right: 160px;
    }
    .tutorial h4{
        font-size: 24px;
    }
    .tutorial p{
        font-size: 14px;
    }
    .two{
        position: absolute;
        top: 550px;
        right: 10px;
    }
    .habit-container{
        flex-direction: column;
    }
    .mile-container{
        flex-direction: column;
        padding: 20px;
        gap: 30px;
    }
    .bmi-container{
        flex-direction: column;
        gap: 50px;
    }
    .bmi-table, tr, td{
        border: 1px solid rgba(245, 245, 245, 0.285);
        border-collapse: collapse;
        padding: 2px 20px;
        margin-top: 30px;
    }
    th{
        border: 1px solid rgba(245, 245, 245, 0.285);
        border-collapse: collapse;
        padding: 10px 0;
    }
    .calculate-content p{
        font-size: 10px;
    }
    .habit{
        text-align: start;
        padding-left: 20px;
    }
    .input-form input , select{
        width: 77%;
    }
    select{
        width: 80%;
    }
    .last-select{
        width: 80%;
        /* margin-bottom: 14px; */
    }
    .team-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .extra-section{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .footer-container{
        flex-direction: column;
        gap: 30px;
    }
}